streamlit
torch
torchvision
torchaudio

pandas
numpy
tqdm
matplotlib
seaborn
Pillow
opencv-python
albumentations
albumentations[pytorch]
pycocotools
torchxrayvision

transformers
nltk
rouge-score

scikit-learn
requests
tensorflow
keras